<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>MTG App</title>
  </head>
  <body>
    <h1>Magic the Gathering Application</h1>
  <nav class="navbar navbar-default" style="width: 95%;">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/trade/market">Market</a></li>
        <li><a href="/user/profile">Profile</a></li>
        <li><a href="/user/signin">Sign In</a></li>
        <li><a href="/user/register">Register</a></li>
      </ul>
    </div>
</nav>
    {{{body}}}

    <footer>
      <p><b>&copy; Sam General Assembly - Javascript Development</b></p>
    </footer>

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  </body>
</html>
