<h2>Welcome to the index page!</h2>
 <ul>
   <li><a href="/user/register">Register</a></li>
   <li><a href="/user/signin">Sign In</a></li>

 </ul>

<main>
<h3><a href="/cards/search">Search a specific card by set</a></h3>

<h3>Recent Sets</h3>

  <div class="akh">
    <a href='/sets/akh'>Amonkhet</a>
  </div>

  <div class="aer">
    <a href='/sets/aer'>Aether Revolt</a>
  </div>

  <div class="kld">
    <a href='/sets/kld'>Kaladesh</a>
  </div>

  <div class="emn">
    <a href='/sets/emn'>Eldritch Moon</a>
  </div>
  <div class="soi">
    <a href='/sets/soi'>Shadows over Innistrad</a>
  </div>
</main>
