<h2>Welcome to the index page!</h2>

{{#if activeUser}}
<p><b>Now logged in as {{activeUser.username}}</b></p>
<form class="logout" action="/" method="post">
<button type="submit" name="button">Logout</button>
</form>
{{/if}}


<main>
<h3><a href="/cards/search">Search a specific card by set</a></h3>
<h3><a href="/trade/market">Check out the market!</a></h3>
<h3>Recent Sets</h3>

  <div class="akh">
    <a href='/sets/akh'>Amonkhet</a>
  </div>

  <div class="aer">
    <a href='/sets/aer'>Aether Revolt</a>
  </div>

  <div class="kld">
    <a href='/sets/kld'>Kaladesh</a>
  </div>

  <div class="emn">
    <a href='/sets/emn'>Eldritch Moon</a>
  </div>
  <div class="soi">
    <a href='/sets/soi'>Shadows over Innistrad</a>
  </div>
</main>
