<h2>Welcome to the index page!</h2>
 <p>Testing Update</p>

<main>
  <div class="akh">
    <a href='/sets/akh'>Amonkhet</a>
  </div>

  <div class="aer">
    <a href='/sets/aer'>Aether Revolt</a>
  </div>

  <div class="kld">
    <a href='/sets/kld'>Kaladesh</a>
  </div>

  <div class="emn">
    <a href='/sets/emn'>Eldritch Moon</a>
  </div>
  <div class="soi">
    <a href='/sets/soi'>Shadows over Innistrad</a>
  </div>
</main>
