<h2>Home View</h2>
<hr class="second-header">
{{#if currentUser}}
<p>Now logged in as {{currentUser.username}}</p>
<form class="logout" action="/" method="post">
<button type="submit" name="button">Logout</button>
</form>
{{/if}}

<section>
<div class="options-container">
  <h3><a href="/user/register">Create an account to start a collection</a></h3>
  <hr class="divider">
  <h3><a href="/trade/market">Check out the market</a></h3>
  <hr class="divider">
  <h3><a href="/cards/search">Search a specific card by set</a></h3>
  
</div>
<hr>
<h4>Recent Sets</h4>

  <div class="akh">
    <a href='/sets/akh'>Amonkhet</a>
  </div>

  <div class="aer">
    <a href='/sets/aer'>Aether Revolt</a>
  </div>

  <div class="kld">
    <a href='/sets/kld'>Kaladesh</a>
  </div>

  <div class="emn">
    <a href='/sets/emn'>Eldritch Moon</a>
  </div>
  <div class="soi">
    <a href='/sets/soi'>Shadows over Innistrad</a>
  </div>
</section>
