<h2>Welcome to the index page!</h2>
 <p>Testing Update</p>

<main>
  <div class="akh">
    <a href='#'>Amonkhet</a>
  </div>

  <div class="aer">
    <a href='#'>Aether Revolt</a>
  </div>

  <div class="kld">
    <a href='#'>Kaladesh</a>
  </div>

  <div class="emn">
    <a href='#'>Eldritch Moon</a>
  </div>
  <div class="soi">
    <a href='#'>Shadows over Innistrad</a>
  </div>
</main>
