<h2>Register for an Account</h2>
<hr class="second-header">

<form class="" action="/user/register" method="post">
  <p><b>Username</b></p>
  <input type="text" name="username" value="">
  <p><b>Password</b></p>
  <input type="text" name="password" value="">
  <button type="submit" name="button">submit</button>
</form>

<p><a href="/">Return to Main Page</a></p>
