{{#if currentUser}}
<h2>{{currentUser.username}} Profile</h2>
<p><b>You are now logged in as {{currentUser.username}}</b></p>

{{#each currentUser.ownCards}}
  {{name}}
{{/each}}

<p><a href="/">Home</a></p>
<form class="logout" action="/user/profile" method="post">
<button type="submit" name="button">Logout</button>
</form>
{{/if}}
