html, body {
 height: 100%;
 position: relative;
}

/* Nav Styles start here */
ul.navbar-nav {
  margin: 0 auto;
}

a.nav-link {
  font-size: 18px;
}

/* Nav styles end */

main.container {
  /* Styles that keeps footer at the bottom courtesy of https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551 */
 /* overflow: hidden;
 display: block;
 position: relative; */
 padding-bottom: 60px; 
}

main > h2 {
  margin-bottom: 20px;
}

header {
  padding: 16px 10px 10px 10px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

/* Footer Styles */

footer {
  height: 60px;
  text-align: center;
  /* Styles that keeps footer at the bottom courtesy of https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551 */
  /* margin-top: 10px; */
  /* position: absolute; */
  /* bottom: 0; */
  /* width: 100% */
}

footer > * {
  padding-top: 20px;
}

footer > p {
  color: white;
}

/* Footer Styles end */

/* General Styles */
h1, h2 {
  text-align: center;
}

/* div.options-container > * {
  display: flex;
  justify-content: left;
} */

hr.divider {
  width: 100px;
  margin-left: 0px;
}

p.auth-notify {
  font-size: 30px;
  text-align: center;
}

p.auth-notify >  a {
  text-decoration: none;
  color: darkblue;
}

p.auth-notify > a:hover {
  color: darkcyan;
}

.set-list {
  list-style-type: none;
}

.set-list li {
  padding-top: 10px;
}

.single-card {
  padding-top: 20px;
  padding-bottom: 20px;
}

.submit-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.inventory {
  width: 150px;
  height: 200px;
  padding-top: 20px;
}

/* General Styles  end */
