/* Custom CSS color */
/* Declaring css variables */
:root {
  --a-color: #0D366F;
  --a-hover-color: #869BB7;
}

html, body {
 height: 100%;
 position: relative;
}

/* Nav Styles start here */
ul.navbar-nav {
  margin: 0 auto;
}

a.nav-link {
  font-size: 18px;
}

/* Nav styles end */

main.container {
  /* Styles that keeps footer at the bottom courtesy of https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551 */
 /* overflow: hidden;
 display: block;
 position: relative; */
 padding-bottom: 60px; 
}

main > h2 {
  margin-bottom: 20px;
}

header {
  padding: 16px 10px 10px 10px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

/* Footer Styles */

footer {
  height: 60px;
  text-align: center;
  /* Styles that keeps footer at the bottom courtesy of https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551 */
  /* margin-top: 10px; */
  /* position: absolute; */
  /* bottom: 0; */
  /* width: 100% */
}

footer > * {
  padding-top: 20px;
}

footer > p {
  color: white;
}

/* Footer Styles end */

/* General Styles */
h1, h2 {
  text-align: center;
}

/* div.options-container > * {
  display: flex;
  justify-content: left;
} */

hr.divider {
  width: 100px;
  margin-left: 0px;
}

hr.second-header {
  width: 200px;
  margin-bottom: 40px;
}

p.auth-notify {
  font-size: 30px;
  text-align: center;
}

/* Anchor Link CSS */

p.auth-notify >  a {
  text-decoration: none;
  color: var(--a-color);
}

p.auth-notify > a:hover {
  color: var(--a-hover-color);
}

h3 > a {
  color: var(--a-color);
}

h3 > a:hover {
  color: var(--a-hover-color);
  text-decoration: none;
}
/* Anchor Link CSS ends */

form.logout {
  margin-bottom: 20px;
}

.set-list {
  list-style-type: none;
}

.set-list li {
  padding-top: 10px;
}

.single-card {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-name {
  font-weight: bold;
  color: black;
  margin-top: 6px;
  margin-bottom: 6px;
}

.submit-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.inventory {
  width: 150px;
  height: 200px;
  padding-top: 20px;
}
/* General Styles  end */

/* Media queries go here */

/* Boostrap Media Query Details
Small devices (tablets, 768px and up)

Medium devices (desktops, 992px and up)
Note: Hamburger menu appears below 992px

Large devices (large desktops, 1200px and up)
*/

