header {
  margin: 20px 0px 20px 0px;
}

main {
  min-height: 700px;
}

footer {
  height: 60px;
  text-align: center;
  margin-top: 10px;
}

footer > * {
  padding-top: 20px;
}

footer > p {
  color: white;
}

h1, h2 {
  text-align: center;
}

p.auth-notify {
  font-size: 30px;
  text-align: center;
}

p.auth-notify >  a {
  text-decoration: none;
  color: darkblue;
}

p.auth-notify > a:hover {
  color: darkcyan;
}

.set-list {
  list-style-type: none;
}

.set-list li {
  padding-top: 10px;
}

.single-card {
  padding-top: 20px;
  padding-bottom: 20px;
}

.submit-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.inventory {
  width: 150px;
  height: 200px;
  padding-top: 20px;
  /*margin-left: -200%;*/
}
