<h2>Search a card!</h2>
<hr class="second-header">

{{#if cards}}
<form class="name-search" action="/cards/namesearch/{{parameters.set}}/{{parameters.type}}" method="POST">
  <div class="form-group">
    <label for="nameSelector">Select a Card Name</label>
    <select class="form-control" name="nameSelector">
      <option value="">Select a card name</option>
      {{#each cards}}
        <option value="{{multiverseid}}">{{name}}</option>
      {{/each}}
    </select>
    <button class="btn btn-secondary" type="submit" name="button">Submit</button>
  </div>

</form>
{{/if}}
<p><a href="/">Return to Main Page</a></p>
