<h2>Card Search View</h2>
<hr class="second-header">

<h3>Search for a card!</h3>
<p>Select from a list of sets from magic the gathering. Then select a card type!</p>

{{#unless cards}}
<form class="card-search" action="/cards/search" method="POST">
  <div class="form-group">
  <!-- LUX Bootstrap select component -->
  <label for="selectSet">Select a Set</label>
  <select class="form-control" name="selectSet">
    <option value="">Select a Set</option>
    <option value="akh">Amonkhet</option>
    <option value="aer">Aether Revolt</option>
    <option value="kld">Kaladesh</option>
    <option value="emn">Eldritch Moon</option>
    <option value="soi">Shadows Over Innistrad</option>
  </select>

<label for="selectType">Select a card type</label>
  <select class="form-control" name="selectType">
    <option value="">Select card type</option>
    <option value="Creature">Creature</option>
    <option value="Instant">Instant</option>
    <option value="Sorcery">Sorcery</option>
    <option value="Artifact">Artifact</option>
    <option value="Enchantment">Enchantment</option>
    <option value="Planeswalker">Planeswalker</option>
    <option value="Land">Land</option>
  </select>

    <button class="btn btn-secondary" type="submit" name="submit">Submit</button>
  </div>
</form>
{{/unless}}

{{#if cards}}
<p><b>Select Card Name</b></p>
<form class="name-search" action="/cards/search" method="POST">
<select name="nameselector">
  <option value=""></option>
  {{#each cards}}
    <option value="{{name}}">{{name}}</option>
  {{/each}}
</select>
<button type="submit" name="button">Submit</button>
</form>
{{/if}}
<p><a href="/">Return to Main Page</a></p>
