<h2>Search a card!</h2>
<hr class="second-header">
<p><b>Enter a card set name!</b></p>
<p>Select from the 5 most recent sets and a type. Then Select a name</p>

{{#unless cards}}
<p><b>Select a Set and Type</b></p>
<form class="card-search" action="/cards/search" method="POST">
<select name="selectset">
  <option value=""></option>
  <option value="akh">Amonkhet</option>
  <option value="aer">Aether Revolt</option>
  <option value="kld">Kaladesh</option>
  <option value="emn">Eldritch Moon</option>
  <option value="soi">Shadows Over Innistrad</option>
</select>
<select name="selecttype">
  <option value=""></option>
  <option value="Creature">Creature</option>
  <option value="Instant">Instant</option>
  <option value="Sorcery">Sorcery</option>
  <option value="Artifact">Artifact</option>
  <option value="Enchantment">Enchantment</option>
  <option value="Planeswalker">Planeswalker</option>
  <option value="Land">Land</option>
</select>
  <button type="submit" name="submit">Submit</button>
</form>
{{/unless}}

{{#if cards}}
<p><b>Select Card Name</b></p>
<form class="name-search" action="/cards/search" method="POST">
<select name="nameselector">
  <option value=""></option>
  {{#each cards}}
    <option value="{{name}}">{{name}}</option>
  {{/each}}
</select>
<button type="submit" name="button">Submit</button>
</form>
{{/if}}
<p><a href="/">Return to Main Page</a></p>
